### **SOLUCIÓN EJERCICIO 1**

In [2]:
import pandas as pd

In [6]:
c_size = 500000
col_list = (['arr_port', 'pax','year','arr_city'])
for gm_chunk in pd.read_csv("~/Data/challenge/bookings.csv",chunksize=c_size,sep = '^',usecols=col_list):
    print(gm_chunk.shape)

(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(500000, 4)
(10, 4)

**EJERCICIO 1** -- El data set tiene 10 millones 10 lineas

### **SOLUCIÓN EJERCICIO 2**

In [5]:
top10 = pd.DataFrame()
count = 0
c_size = 500000
col_list = (['arr_port', 'pax','year','arr_city'])

for gm_chunk in pd.read_csv("~/Data/challenge/bookings.csv",chunksize=c_size,sep = '^',usecols=col_list):
   
    # Selecciono el año 2013
    gm_chunk = gm_chunk[gm_chunk['year'] == 2013]
    
    # Compruebo si hay NaN y elimino en caso de haber
    if (gm_chunk.isnull().values.any() == True):
        gm_chunk = gm_chunk.dropna()

    # Compruebo los espacios en 'arr_port' para hacer groupby y elimino en caso de haber
    gm_chunk['arr_port'].str.strip()
    gm_chunk['arr_city'].str.strip()
    
    # Comprobaciones hechas, agrupo con groupby, ordeno con sort_values y muestro con head(10)
    #shorted = gm_chunk.groupby(['arr_port','arr_city'])['pax'].sum().sort_values(ascending=False)
    shorted = gm_chunk.groupby(['arr_port']).sum().sort_values('pax',ascending=False)
    del shorted['year']
    
    # Esto es solo para un chunk del data frame original. A continuación se realiza para el resto de chunks, teniendo 
    # que almacenar el contenido en un nuevo data frame.
    top10 = top10.append(shorted.head(10))
    # De esta forma, en top10 tendremos los 10 mas concurridos pudiendo tener repetidos ya que analizamos por fracciones del data set original

# Finalmente, realizo un nuevo groupby por 'arr_port' en el nuevo data frame generado con el objetivo de anular repetidos
# y mostrar el top10 de todo el conjunto de datos 
sol = top10.groupby(['arr_port'])['pax'].sum().sort_values(ascending=False).reset_index()
sol.head(10)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  SFO       58000.0
8  DXB       55590.0
9  MIA       32070.0